* {
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

.hidden { display: none; }

html, body { height: 100% }

body { 
  font-family: sans-serif;
  color: white;
  background-image: linear-gradient(to right, rgb(153, 153, 153) , rgb(85, 141, 167) , rgb(153, 153, 153));
}

/* style the header */

header {
  background-color: rgb(58, 114, 187);
  background-image: linear-gradient(to right, rgb(57, 126, 230) , rgb(150, 222, 235) , rgb(57, 126, 230));
  
  position: sticky;
  top: 0;
  text-align: center;
}

#main-logo {width: 300px; padding: 10px 0; }

/* main section style */
#character-nav { 
  text-align: center;
  background-color: #000000a6;

  /* add a background image to the nav element */
  background-image: url('../images/simpsons.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}

.characters { list-style-type: none; }

.characters li { 
  display: inline-block; 
  height: 220px;
  margin: 10px 8px;

  background-color: black;
  text-align: left;
  overflow: hidden;
}

.characters li h5 {
  padding: 6px 8px;
  text-align: center;
  font-size: 16px;
}

.characters a:link {
  text-decoration: none;
  color: rgb(233, 236, 18);
}

.characters a:visited {
  text-decoration: none;
  color: rgb(233, 236, 18);
}

.characters a:hover {
  text-decoration: underline;
}

.characters a:active {
  text-decoration: underline;
}

.characters li p {
  padding: 5px 8px;
  text-align: center;
  font-size: 14px;
  color: aliceblue;
}



.characters li img { width: 150px; cursor: pointer; }




.sprite{
  width: 150px;
  height: 150px;
  background-image: url(../images/simpsonSprites.jpg);
}

.sprite:hover {background-position-y: -150px !important;}

#carol {background-position: -150px 0;}
#clint {background-position: -300px 0;}
#hulk {background-position: -450px 0;}
#thor {background-position: -600px 0;}
#widow {background-position: -750px 0;}

.red-bumper {height: 6px; background-color: red;}

article { padding: 20px; }

article h3 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 14px;
}

article p {
  width: 70%;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  margin: 0 auto;
}

/* style the footer */

footer{
  color: white;
  padding: 20px 0;
  text-align: center;
}

.sticky_footer{
  position: sticky;
  top: 100%;

  height: 80px;
  background-color: rgb(40,37,37);

}


/*lightbox styles */
.lightbox {
  display: none;
  width: 100vw; /* viewport width of the browser window */

  height: 100vh; /* viewport height of the browser window */

  position: absolute;
  top: 0;
  left: 0;

  background-color: rgba(0,0, 0, 0.85 );
  background-repeat: no-repeat;
  background-position: 40px bottom;
  background-size: 55vh;


}

.lb_close {
color: rgb(255, 255, 255);
font-size: 2em;

text-decoration: none;

position: relative;
top: 20px;
left: 95%;
font-weight: bolder;

}

.lb_close:hover { opacity: 0.5;}

.lightbox article {
width: 55%;
margin-left: 40%;
padding-top: 50px;
}







.lb_text, .lb_heading { text-align: left; }

.lb_text {

  line-height: 1.6;
  margin-left: 0;
  padding-top: 2em;
}

#lightBox {

  background-image: url('../images/homer.png');


}

#lightBox2 {

  background-image: url('../images/marge_mopping.png');


}


#lightBox3 {

  background-image: url('../images/beelzebart_simpson.png');


}


#lightBox4 {

  background-image: url('../images/lisa_simpson.png');


}


#lightBox5 {

  background-image: url('../images/maggie_simpson.png');


}



#lightBox6 {

  background-image: url('../images/milhouse.webp');


}






/*toggle lightbox on*/


.lightbox:target {display: block }

/* .lightbox#lightBox ( display: block )